[user]
	name = hidetoshi
	email = {{ .email }}

[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	safecrlf = true
	autocrlf = input
	eol = lf

{{- if eq .chezmoi.os "darwin" }}
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = {{ .chezmoi.homeDir }}/.stCommitMsg
{{- end }}

[safe]
	directory = *
[http]
	receivepack = true
