  "explorer.confirmDelete": false,
  "explorer.confirmPasteNative": false,
  "files.autoSave": "afterDelay",
  "python.createEnvironment.trigger": "off",
  "leetcode.endpoint": "leetcode-cn",
  "leetcode.workspaceFolder": "{{ .chezmoi.homeDir }}/leetcode",
  "editor.accessibilitySupport": "off",
  "git.confirmSync": false,
  "workbench.iconTheme": "material-icon-theme",
  "git.autofetch": true,
  "explorer.confirmDragAndDrop": false,
  "editor.fontFamily": "Google Sans Code, Menlo, Monaco, 'Courier New', monospace",
  "editor.minimap.renderCharacters": false,
  "leetcode.defaultLanguage": "typescript",
  "github.copilot.nextEditSuggestions.enabled": true,
  "editor.formatOnSave": true,
  "typescript.preferences.organizeImports": {},
  "editor.codeActionsOnSave": {
    "source.addMissingImports.ts": "always",
    "source.removeUnusedImports": "always",
    "source.organizeImports": "always",
    "source.sortImports": "always"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "diffEditor.ignoreTrimWhitespace": true,
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "switch2idea.ideaPath": "webstorm",
  "[less]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "typescript.updateImportsOnFileMove.enabled": "always",
  "javascript.updateImportsOnFileMove.enabled": "always",
  "files.exclude": {
    "**/.turbo": true,
    "**/build": true,
    "**/dist": true,
    "**/node_modules": true
  },
  "diffEditor.hideUnchangedRegions.enabled": true,
  "claudeCode.preferredLocation": "panel",
