
:root {
    --click-1: #eaf6fa;
    --click-2: #d3eef5;
    --click-3: #86dbeb;
    --click-4: #3dc1d4;
    --click-5: #00aec7;
    --click-6: #0596b3;
    --click-7: #05809e;
    --click-8: #046886;
    --click-9: #045471;
    --click-10: #02435f;
    --red-1: #f9ebec;
    --red-2: #f8d8da;
    --red-3: #f4b9b9;
    --red-4: #ee8789;
    --red-5: #eb5c5e;
    --red-6: #e22c2f;
    --red-7: #c91818;
    --red-8: #ac1116;
    --red-9: #7e1014;
    --red-10: #5e0d11;
    --green-1: #e5f5ec;
    --green-2: #d1ebdb;
    --green-3: #b1ddc2;
    --green-4: #77ca97;
    --green-5: #48b16f;
    --green-6: #179b4a;
    --green-7: #107f3a;
    --green-8: #0b6f36;
    --green-9: #095d29;
    --green-10: #094320;
    --orange-1: #feedd7;
    --orange-2: #fddaba;
    --orange-3: #fcbc88;
    --orange-4: #fe9d52;
    --orange-5: #fa8628;
    --orange-6: #f06f13;
    --orange-7: #cf580e;
    --orange-8: #ab4807;
    --orange-9: #873a03;
    --orange-10: #753402;
    --basic-1: #000;
    --basic-2: #292b31;
    --basic-3: #2d3036;
    --basic-4: #3e4149;
    --basic-5: #4f545e;
    --basic-6: #575d67;
    --basic-7: #707680;
    --basic-8: #90959d;
    --basic-9: #a2a6ac;
    --basic-10: #b7babf;
    --basic-11: #c3c5c9;
    --basic-12: #dbdcdf;
    --basic-13: #e6e7e9;
    --basic-14: #ecedee;
    --basic-15: #f2f3f3;
    --basic-16: #fff;
    --up-color: var(--red-7);
    --down-color: var(--green-7);
    --highlight-color: var(--click-6);
    --color-1: #2277a2;
    --color-2: #f68717;
    --color-3: #5fbebf;
    --color-4: #e05d5d;
    --color-5: #4a588e;
    --color-6: #e4c557;
    --color-7: #63a074;
    --color-8: #906f54;
    --color-9: #9da9b4;
    --color-10: #8662ac;
    --color-11: #4d91b4;
    --color-12: #f79e44;
    --color-13: #7ecacb;
    --color-14: #e57c7c;
    --color-15: #6d78a4;
    --color-16: #e8d078;
    --color-17: #81b28f;
    --color-18: #a58b75;
    --color-19: #b0b9c2;
    --color-20: #9d80bc;
    --color-21: #1b5f82;
    --color-22: #c56c12;
    --color-23: #4c9899;
    --color-24: #b34a4a;
    --color-25: #3b4672;
    --color-26: #b69e46;
    --color-27: #4f805d;
    --color-28: #735943;
    --color-29: #7e8790;
    --color-30: #6b4e8a;
    --gray-1: #333;
    --gray-2: #8e8e8e;
    --gray-3: #c5c5c5;
    --gray-4: #dfdfdf;
    --font-color-1: #000;
    --font-color-2: #333;
    --font-color-3: #666;
    --font-color-4: #999;
    --font-color-5: #c5c5c5;
    --font-color-6: #fff;
    --transparency-1: rgba(0,0,0,.2);
    --transparency-2: hsla(0,0%,100%,.3);
    --transparency-3: hsla(0,0%,100%,.2);
    --transparency-4: hsla(0,0%,100%,.15);
    --transparency-5: hsla(0,0%,100%,.1);
    --transparency-6: hsla(0,0%,100%,.05);
    --primary: var(--click-6);
    --primary-hover: var(--click-5);
    --primary-active: var(--click-7);
    --success: var(--green-6);
    --success-hover: var(--green-5);
    --success-active: var(--green-7);
    --danger: var(--red-6);
    --danger-hover: var(--red-5);
    --danger-active: var(--red-7);
    --warning: var(--orange-6);
    --warning-hover: var(--orange-5);
    --warning-active: var(--orange-7);
    --border-color-base: var(--basic-11);
    --border-color-split: var(--basic-14);
    --border-color-third: var(--basic-12);
    --border-color-hover: var(--primary-hover);
    --border-color-active: var(--primary-active);
    --border-color-focus: var(--primary);
    --border-color-disabled: var(--basic-12);
    --link-color: var(--font-color-2);
    --link-underline-color: var(--border-color-base);
    --link-hover-color: var(--primary-hover);
    --link-active-color: var(--primary-active);
    --link-underline-disabled-color: var(--basic-13);
    --color-bg-1: var(--basic-13);
    --color-bg-2: var(--basic-16);
    --color-bg-3: var(--basic-15);
    --color-bg-4: var(--basic-16);
    --color-bg-5: var(--basic-13);
    --shadow-hover: 0 4px 8px 1px rgba(0,0,0,.1),0 2px 3px -2px rgba(0,0,0,.2);
    --shadow-normal: 0 2px 5px -2px rgba(0,0,0,.1),0 8px 10px 1px rgba(0,0,0,.06),0 3px 14px 2px rgba(0,0,0,.05);
    --shadow-focus: 0 0 3px #0993ae;
    --shadow-active: 0 0 3px #05809e;
    --shadow-border: var(--border-color-split);
    --danger-bg: var(--basic-16);
    --icon-color: var(--basic-7);
    --icon-color-unclickable: var(--basic-8);
    --icon-color-hover: var(--basic-3);
    --icon-color-disable: var(--basic-11);
    --item-hover: var(--basic-13);
    --item-active: var(--click-2);
    --item-selected-color: var(--primary);
    --scrollbar-bg: #fff;
    --scrollbar-bg-hover: var(--basic-15);
    --scrollbar-thumb-bg: var(--basic-12);
    --scrollbar-thumb-bg-hover: var(--basic-10);
    --alert-success-bg: var(--green-1);
    --alert-success-border: var(--green-2);
    --alert-info-bg: var(--click-1);
    --alert-info-border: var(--click-2);
    --alert-warning-bg: var(--orange-1);
    --alert-warning-border: var(--orange-2);
    --alert-error-bg: var(--red-1);
    --alert-error-border: var(--red-2);
    --anchor-border-color: var(--border-color-split);
    --button-default-bg: var(--basic-16);
    --button-default-bg-hover: var(--basic-16);
    --button-default-bg-active: var(--basic-16);
    --button-default-border: var(--border-color-base);
    --button-default-border-hover: var(--border-color-hover);
    --button-default-border-active: var(--border-color-active);
    --button-default-border-disabled: var(--basic-12);
    --btn-primary-bg: var(--click-5);
    --btn-primary-bg-hover: var(--click-4);
    --btn-primary-bg-active: var(--click-6);
    --button-surface-bg: var(--basic-14);
    --button-surface-bg-hover: var(--basic-11);
    --button-surface-bg-active: var(--basic-9);
    --back-top-bg: var(--basic-16);
    --back-top-hover-bg: var(--click-5);
    --calendar-item-active-bg: var(--click-2);
    --card-bg: var(--basic-16);
    --carousel-dot-bg: var(--basic-12);
    --carousel-dot-active-bg: var(--basic-9);
    --carousel-dot-hover-bg: var(--basic-10);
    --checkbox-color-hover: var(--primary-hover);
    --checkbox-color-active: var(--primary-active);
    --checkbox-color-selected: var(--primary);
    --checkbox-color-focus: var(--primary);
    --collapse-header-bg: var(--basic-13);
    --collapse-header-hover-bg: var(--basic-12);
    --collapse-content-bg: var(--basic-16);
    --divider-color: var(--border-color-split);
    --dropdown-button-border-color: var(--border-color-base);
    --empty-description-color: var(--font-color-2);
    --empty-bg: var(--basic-14);
    --input-bg: var(--basic-16);
    --input-panel-bg: var(--color-bg-4);
    --input-bg-disabled: var(--basic-15);
    --input-border: var(--basic-11);
    --input-addon-border-color: var(--basic-11);
    --input-clear-color: var(--basic-9);
    --input-clear-hover-color: var(--basic-6);
    --input-border-hover: var(--click-5);
    --input-border-active: var(--click-7);
    --input-border-disabled: var(--basic-12);
    --input-border-focus: var(--click-6);
    --layout-bg: var(--basic-13);
    --layout-header-bg: var(--basic-16);
    --layout-operator-bg: var(--basic-16);
    --layout-content-bg: var(--basic-16);
    --layout-sider-bg: var(--basic-16);
    --layout-sider-trigger-bg-hover: var(--basic-13);
    --layout-sider-trigger-bg-active: var(--basic-12);
    --menu-item-bg: transparent;
    --menu-popup-bg: var(--basic-16);
    --menu-arrow-color: var(--font-color-4);
    --menu-icon-color: var(--font-color-2);
    --message-bg: var(--basic-16);
    --modal-title-bg: var(--basic-13);
    --modal-large-bg: var(--basic-14);
    --modal-large-header-bg: var(--basic-16);
    --pop-box-bg: var(--basic-16);
    --popover-border: hsla(0,0%,77%,.7);
    --popover-border-bottom-color: var(--basic-11);
    --popover-color-bg: var(--basic-16);
    --popover-color-border: var(--popover-border);
    --select-selection-item-bg: var(--basic-15);
    --select-show-arrow: var(--basic-7);
    --select-show-arrow-disabled: var(--basic-11);
    --select-icon-hover-color: var(--primary-hover);
    --slider-handle-border: var(--primary);
    --slider-handle-border-disabled: var(--switch-disabled-bg-checked);
    --slider-rail-bg: var(--border-color-split);
    --steps-bg: var(--basic-16);
    --step-process-icon-color: var(--basic-2);
    --steps-process-tail-color: var(--basic-11);
    --step-finish-tail-color: var(--basic-2);
    --step-finish-icon-color: var(--basic-2);
    --steps-wait-icon-color: var(--font-color-4);
    --steps-wait-tail-color: var(--basic-11);
    --switch-disabled-bg-checked: var(--click-2);
    --switch-disabled-after-bg: var(--basic-16);
    --radio-active-color-bg: var(--basic-16);
    --radio-button-bg: var(--btn-primary-bg);
    --radio-button-wrapper-border-color: var(--border-color-base);
    --radio-button-wrapper-left-border-color: var(--border-color-base);
    --radio-color-hover: var(--primary-hover);
    --radio-color-active: var(--primary-active);
    --radio-hover-color-bg: var(--basic-16);
    --radio-color-top-active: var(--primary-active);
    --radio-color-top-hover: var(--primary-hover);
    --resizer-divider-color-inner: var(--basic-12);
    --resizer-placeholder-bg: var(--basic-9);
    --result-title: var(--font-color-3);
    --tabs-block-color-selected: var(--font-color-1);
    --tabs-block-color-selected-bg: var(--basic-12);
    --tabs-block-color-hover-bg: var(--item-hover);
    --tabs-block-color-active-bg: var(--basic-12);
    --tag-border-color: var(--basic-11);
    --tag-primary-bg: var(--basic-14);
    --tag-secondary-bg: var(--basic-9);
    --tag-opacity-bg-color-1: #deebf1;
    --tag-opacity-bg-color-2: #feeddc;
    --tag-opacity-bg-color-3: #e7f5f5;
    --tag-opacity-bg-color-4: #fae7e7;
    --tag-opacity-bg-color-5: #e4e6ee;
    --tag-opacity-bg-color-6: #fbf6e6;
    --tag-opacity-bg-color-7: #e8f1ea;
    --tag-opacity-bg-color-8: #eeeae6;
    --tag-opacity-bg-color-9: #f0f2f4;
    --tag-opacity-bg-color-10: #ede8f3;
    --tag-text-color-1: var(--color-1);
    --tag-text-color-2: var(--color-2);
    --tag-text-color-3: var(--color-3);
    --tag-text-color-4: var(--color-4);
    --tag-text-color-5: var(--color-5);
    --tag-text-color-6: var(--color-6);
    --tag-text-color-7: var(--color-7);
    --tag-text-color-8: var(--color-8);
    --tag-text-color-9: var(--color-9);
    --tag-text-color-10: var(--color-10);
    --tooltip-arrow-color: var(--basic-16);
    --tree-switcher-color: var(--basic-7);
    --upload-clip-icon-color: var(--font-color-3);
    --blue-6-timeline: rgba(0,174,199,.45);
    --red-6-tint: rgba(223,38,44,.2);
    --red-6-timeline: rgba(223,38,44,.45);
    --green-6-timeline: rgba(22,157,96,.45);
    --up-color-dark: --red-6-dark;
    --down-color-dark: --green-5-dark;
    --transparency-1-dark: rgba(0,0,0,.2);
    --transparency-2-dark: hsla(0,0%,100%,.3);
    --transparency-3-dark: hsla(0,0%,100%,.2);
    --transparency-4-dark: hsla(0,0%,100%,.15);
    --transparency-5-dark: hsla(0,0%,100%,.1);
    --transparency-6-dark: hsla(0,0%,100%,.05);
    --transparency-7-dark: rgba(0,0,0,.6);
    --blue-6-shadow-dark: rgba(0,174,199,.7);
    --blue-4-shadow-dark: rgba(118,211,225,.4);
    --red-6-tint: rgba(250,40,50,.2);
    --basic-1-gray: #2a2a30;
    --basic-2-gray: #2f2f34;
    --basic-3-gray: #45454e;
    --basic-4-gray: #585864;
    --basic-5-gray: #63636d;
    --basic-6-gray: #5d5d5d;
    --basic-7-gray: #acacac;
    --basic-8-gray: #fff
}